* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62,5%;
  --text-color: hsla(0, 0%, 100%, 1);
  --text-secondary: hsla(194, 97%, 31%, 1);
  --text-linkoff: hsla(240, 7%, 78%, 1);
  --text-p: hsla(240, 9%, 89%, 1);
}

body {
  max-width: 144rem;
  max-height: 108rem;

}

html.bgHome {
  background-image: 
  url(./assets/mountains-universe-1.png);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
html.bgUni {
  background-image: 
  url(./assets/mountains-universe02.png);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
html.bgExp {
  background-image: 
  url(./assets/mountains-universe-3.png);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

nav {
  display: flex;
  gap: 3.2rem;
  margin: 4rem auto 4rem 5.2rem;

}

nav a {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;

  color: var(--text-linkoff);
  text-decoration: none;
}

nav a:hover {
  color: var(--text-color);
  font-weight: 700;
}

.home {
  height: 100vh;
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 2.4rem;

  margin-top: -10rem;

}

.universo, .exploration {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-top: 6rem;
  margin-left: 7rem;

}

.error {
  height: 100vh;
  display: grid;
  place-content: center;

  margin-top: -12rem;
}

h1 {
  font-size: 4.8rem;
  font-weight: bold;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  line-height: 6rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;

  max-width: 64rem;

  color: var(--text-color);
}

button {
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: bold;
  color: var(--text-color);

  border: 2px solid var(--text-color);
  border-radius: 5px;
  cursor: pointer;

  padding: 1.2rem 3.2rem;

}

button:hover {
  background: var(--text-color);
  color: var(--text-secondary);
  transition: 0.5s;
}
